page-report {
    chart{
        padding: 10px;
    }

    ion-list, ion-item{
        background-color: color($colors, light);
    }

    background-color: color($colors, light);

    ion-item.fun {
        border-left: solid 6px color($colors, fun);
    }
    ion-item.outgoings {
        border-left: solid 6px color($colors, outgoings);
    }
    ion-item.keepings {
        border-left: solid 6px color($colors, keepings);
    }
    ion-item.investiments {
        border-left: solid 6px color($colors, investiments);
    }

    ion-item{
        box-sizing: border-box;
    }
}
