<ion-content class="home" hide-nav-bar>

  <!-- <div class="loading-container" *ngIf="loading">
      <div class="loading">
        <ion-spinner></ion-spinner>
      </div>
    </div> -->
  <div class="total-income">
    <h4 class="text-center">Informações de Novembro</h4>
    <!-- <h1 class="text-center">
        R$ {{incomes}}
      </h1> -->

    <ion-row>
      <ion-col width-50 class="text-right">
        <p>
          Receitas
        </p>
        <h4 *ngIf="!loading">R$ 2500,00</h4>
        <h4 *ngIf="loading">...</h4>
      </ion-col>
      <ion-col width-50 class="text-left">
        <p>
          Despesas
        </p>
        <h4 *ngIf="!loading">R$ 800,00</h4>
        <h4 *ngIf="loading">...</h4>
      </ion-col>
    </ion-row>
  </div>

  <div class="menu">

    <button class="item-menu incomes" color="white" (click)="openAddIncome()">
      <ion-icon name="logo-usd" color="incomes"></ion-icon>
      <p>Minhas receitas</p>
    </button>

    <button class="item-menu spendings" color="white" (click)="openAddOutgoing()">
      <ion-icon name="ios-card" color="outgoings"></ion-icon>
      <p>Minhas despesas</p>
    </button>

    <button class="item-menu analysis" color="white" (click)="openAnalysis(incomes, outgoings, rest)">
      <ion-icon name="stats" color="azul"></ion-icon>
      <p>Análise do mês</p>
    </button>

    <button class="item-menu config" color="white" (click)="openConfig()">
      <ion-icon name="cog" color="dark"></ion-icon>
      <p>Configurações</p>
    </button>


  </div>



</ion-content>